/* Sötét mód */
body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark-mode nav {
  background-color: #1f2937;
}

body.dark-mode h1, 
body.dark-mode h2, 
body.dark-mode h3 {
  color: #e0e0e0;
}

body.dark-mode .container {
  background-color: #181818;
}

body.dark-mode .card {
  background-color: #242424;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.05);
}

body.dark-mode .card p {
  color: #bbb;
}

body.dark-mode .card a {
  color: #90caf9;
}

/*HEADER KIEGÉSZÍTÉS*/
body.dark-mode .site-header {
  background-color: #1f2937;
}

body.dark-mode .site-title {
  color: #e0e0e0;
}

body.dark-mode .site-nav a {
  color: #e0e0e0;
}
